
.color1{
    background-color: #dbd8d8;
}
.color2{
    background-color: #17a8eb;
}
.color3{
    background-color: #d52bf7;
}
.color4{
    background-color:#3E54AC ;
}
.color5{
    background-color: #85CDFD;
}
.color6{
    background-color: #00337C;
}
.color7{
    background-color: black;
}
.color8{
    background-color: #609cb8;
}